@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    color: white;
    margin:  0;
    padding: 0;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(113, 189, 0, 0.3);
}

button, input[type="file"]::file-selector-button {
  padding: 3px 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(113, 189, 0);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover, input[type="file"]::file-selector-button:hover { 
  color: rgb(113, 189, 0);
  background-color: white;
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(113, 189, 0);
  border-radius: 1vw;
  border: 0.15vw solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(127, 212, 0);
}